Debug
.vs

LMS Qt Project/build-Moodle-Desktop_Qt_6_6_2_MinGW_64_bit-Debug/
!LMS Qt Project/build-Moodle-Desktop_Qt_6_6_2_MinGW_64_bit-Debug/data/

LMS Qt Project/build-Moodle-Desktop_Qt_6_6_2_MinGW_64_bit-Release/